# Python 缓存与虚拟环境
__pycache__/
.pytest_cache/
*.py[cod]

# 构建相关
build/
build_exe/
dist/
export/
*.egg-info/
*.egg
*.spec

# 虚拟环境
venv/
env/
.venv/
.env/
pyvenv.cfg
Include/
Lib/
Scripts/

# IDE 配置（可选，看你用不用 VSCode、PyCharm 之类）
.vscode/
.VSCodeCounter/
.idea/

# 临时文件
*.log
*.tmp
真实场景
migrate_to_*.py
